{% extends "bootstrap_responsive.html" %}

{% block title %}Remindergram{%- endblock %}

{% block body_content %}
      <header class="title">
        <h1>Remindergram</h1>
        <h2>Oh yeah! I need to send that Postagram</h2>
      </header>

    <div class="container">

      <div class="row">
        <div class="span4">

          <form class="form-horizontal remindergram" action="/recommendation/photos" method="POST">
            <label for="service">Choose a service:</label>
            <a href="#" class="btn wordpress">WordPress</a>
            <a href="#" class="btn instagram">Instagram</a>
            <a href="#" class="btn tumblr">Tumblr</a>
            <a href="#" class="btn rss">RSS</a>

            <label for="identifier">Enter URL</label>
            <input type="text" id="identifier" name="identifier" tabindex="1" placeholder="">
            <input type="submit" class="hidden">
          </form>
        </div>

        <div class="span8 result">
        </div>
      </div>
    </div> <!-- /container -->

    <footer>
      <p>Made by Red Pandas</p>
    </footer>


{% endblock %}

{% block style %}
  {{super()}}
    <link href="{{url_for('static', filename='remindergram.css')}}" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/its0yhc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{%- endblock %}

{% block bootstrap_js_bottom %}
  {{super()}}
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="{{url_for('static', filename='remindergram.js')}}"></script>
{%- endblock %}